author-service/node_modules
book-service/node_modules
helper/node_modules
helper/names.txt
author-service-grpc/node_modules

protocol-buffers/generated
protocol-buffers/node_modules

backend/node_modules
.env.*